{% extends "layout.html" %}

{% block content %}
    <div class="p-4 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ user.username }}</h1>
            <p class="col-md-8 fs-4">Email: {{ user.email }}</p>
            </div>
    </div>

    <h3>Posts by {{ user.username }}</h3>
    <hr>
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="{{ url_for('profile', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted float-end">{{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.body }}</p>
            </div>
        </div>
    {% else %}
        <p>{{ user.username }} has not posted anything yet.</p>
    {% endfor %}
{% endblock %}